* {
  font-family: "Arial Black";
}
h1 {
  text-transform: uppercase;
  color: #0094FFFF;
}
table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin: 10px auto 10px auto;
}
table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
}
table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
a {
  background-color: #0094FFFF;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
}